{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",

  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always",
        "printWidth": 80,
        "tabWidth": 4
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "printWidth": 100,
        "tabWidth": 2
      }
    }
  ]
}
